<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell" id="tsd-search" data-index="{{relativeURL "assets/js/search.js"}}" data-base="{{relativeURL "./"}}">
                    <div class="field">
                        <label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
                        <input id="tsd-search-field" type="text" />
                    </div>
                    <ul class="results">
                        <li class="state loading">Preparing search index...</li>
                        <li class="state failure">The search index is not available</li>
                    </ul>
                    <a href="{{relativeURL "globals.html"}}" class="title">[API Docs] {{project.name}}</a>&nbsp;<span class="tsd-flag ts-flagOptional ts-flagVersion">v 2.12.3</span>
                </div>

                <div class="" id="tsd-widgets">
                    <a class="github" href="https://github.com/transistorsoft/{{project.packageInfo.name}}">Github</a>
                    <a class="logo" href="https://www.transistorsoft.com"><img src="{{relativeURL "assets/images/logo-black-150.png"}}" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="tsd-page-title">
        <div class="container">
            <ul class="tsd-breadcrumb">
                {{#with model}}{{> breadcrumb}}{{/with}}
            </ul>
            <h1>{{#compact}}
                {{model.kindString}}&nbsp;
                {{model.name}}
                {{#if model.typeParameters}}
                    &lt;
                    {{#each model.typeParameters}}
                        {{#if @index}},&nbsp;{{/if}}
                        {{name}}
                    {{/each}}
                    &gt;
                {{/if}}
            {{/compact}}</h1>
        </div>
    </div>
</header>